<h1>EhrScape Provisioner</h1>
<div class="row">
  <div class="small-8 columns">
    <h4>Request summary</h4>
  </div>
  <div class="small-4 columns">
    <h4>Configuration and parameters</h4>
  </div>
  <div class="small-8 columns">
    <div class="row">
      <div class="small-12 columns">
        <table class="action-list">
          <thead>
            <tr>
              <td>Name</td>
              <td>Method</td>
              <td>URL</td>
              <td>Status</td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="actionItem in actionList">
              <td>{{actionItem.name}}</td>
              <td>{{actionItem.requestMethod}}</td>
              <td>{{actionItem.getFullUrl()}}</td>
              <td>{{actionItem.status}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="small-3 columns">
        <button id="go-button" class="button" ng-click="start()">Go!</button>
        <button id="reset-button" class="button secondary" ng-click="reset()">Reset</button>
      </div>
      <div ng-show="showTotalProgressAndTime()">
        <div class="small-9 columns">
          <div class="row">
            <div class="small-6 columns">
              <span class="total-time">Total time taken: <span class="time-taken">{{getTotalTimeTaken()}}ms</span></span>
            </div>
            <div class="small-6 columns text-right">
              <span><a href="{{generateMarkdownDownloadUrl()}}">Download markdown</a></span>
            </div>
            <div class="small-12 columns">
              <div class="progress">
                <span class="meter" style="width: {{getPercentComplete()}}"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="small-4 columns config-box">
    <div class="row">
      <div class="small-6 columns">
        <input type="text" id="ehrscapeUsername" name="ehrscapeUsername" ng-model="ehrscapeConfig.username" value="{{ehrscapeConfig.username}}" placeholder="Username"/>
      </div>
      <div class="small-6 columns">
        <input type="text" id="ehrscapePassword" name="ehrscapePassword" ng-model="ehrscapeConfig.password" value="{{ehrscapeConfig.password}}" placeholder="Password"/>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <input type="text" disabled="true" id="ehrscapeBaseUrl" name="ehrscapeBaseUrl" ng-model="ehrscapeConfig.baseUrl" value="{{ehrscapeConfig.baseUrl}}"/>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <input type="text" disabled="true" id="ehrscapeSessionId" name="ehrscapeSessionId" ng-model="ehrscapeConfig.sessionId" value="{{ehrscapeConfig.sessionId}}" placeholder="Session ID"/>
      </div>
    </div>
    <div class="row">
      <div class="small-6 columns">
        <input type="text" disabled="true" id="ehrscapeSubjectNamespace" name="ehrscapeSubjectNamespace" ng-model="ehrscapeConfig.subjectNamespace" value="{{ehrscapeConfig.subjectNamespace}}" placeholder="Subject namespace"/>
      </div>
      <div class="small-6 columns">
        <input type="text" disabled="true" id="ehrscapeSubjectId" name="ehrscapeSubjectId" ng-model="ehrscapeConfig.subjectId" value="{{ehrscapeConfig.subjectId}}" placeholder="Subject ID"/>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <input type="text" disabled="true" id="ehrscapeEhrId" name="ehrscapeEhrId" ng-model="ehrscapeConfig.ehrId" value="{{ehrscapeConfig.ehrId}}" placeholder="EHR ID"/>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <h4>Request details</h4>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <div class="row" ng-repeat="actionItem in actionList">
      <div action/>
    </div>
  </div>
</div>