<h1>EhrScape Provisioner</h1>
<div class="row">
  <div class="small-12">
    <div class="small-6 columns">
      <h4>Action list</h4>
    </div>
    <div class="small-6 columns">
      <h4>Configuration and parameters</h4>
    </div>
  </div>
  <div class="small-6 columns">
    <div class="row">
      <div class="small-12 columns">
        <table class="action-list">
          <thead>
            <tr>
              <td>Name</td>
              <td>Status</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{actionItem.name}}</td>
              <td>{{actionItem.status}}</td>
            </tr>
            <tr ng-repeat="actionItem in actionList">
              <td>{{actionItem.name}}</td>
              <td>{{actionItem.status}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <button ng-click="start()">Go!</button>
        <button ng-click="reset()">Reset</button>
      </div>
    </div>
  </div>
  <div class="small-6 columns config-box">
    <div class="row">
      <div class="small-6 columns">
        <input type="text" name="ehrscapeUsername" ng-model="ehrscapeConfig.username" value="{{ehrscapeConfig.username}}" placeholder="Username"/>
      </div>
      <div class="small-6 columns">
        <input type="text" name="ehrscapePassword" ng-model="ehrscapeConfig.password" value="{{ehrscapeConfig.password}}" placeholder="Password"/>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <input type="text" disabled="true" name="ehrscapeBaseUrl" ng-model="ehrscapeConfig.baseUrl" value="{{ehrscapeConfig.baseUrl}}"/>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <input type="text" disabled="true" name="ehrscapeSessionId" ng-model="ehrscapeConfig.sessionId" value="{{ehrscapeConfig.sessionId}}" placeholder="Session ID"/>
      </div>
    </div>
    <div class="row">
      <div class="small-6 columns">
        <input type="text" disabled="true" name="ehrscapeSubjectNamespace" ng-model="ehrscapeConfig.subjectNamespace" value="{{ehrscapeConfig.subjectNamespace}}" placeholder="Subject namespace"/>
      </div>
      <div class="small-6 columns">
        <input type="text" disabled="true" name="ehrscapeSubjectId" ng-model="ehrscapeConfig.subjectId" value="{{ehrscapeConfig.subjectId}}" placeholder="Subject ID"/>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <div class="row">
      <div action/>
    </div>
    <div class="row" ng-repeat="actionItem in actionList">
      <div action/>
    </div>
  </div>
</div>