.main {
  margin-top: 10px;
}

.row {
  max-width: 86rem;
}

.action-list {
  width: 100%;
}

.total-time {
  font-size: 0.9em;
}

.config-box {
  padding-bottom: 5px;
  h4 {
    padding-bottom: 10px;
  }
}

.request-header {
  height: 50px;
  margin-bottom: 10px;
}

.request-summary {
  margin-right: -5px;
  padding-bottom: 10px;
  .request-title {
    margin-top: -10px;
  }
}

.response-summary {
  margin-left: -5px; 
  padding-bottom: 10px;
  .response-title {
    margin-top: -10px;
  }
}

.request-body, .response-body {
  font-size: 0.7em;
}

.time-taken, .status-code {
  color: blue;
  font-style: italic;
}
