<h1>Markdown</h1>

<h1>EhrScape Provisioner</h1>
<div class="row">
  <div class="small-12 columns">
    <h4>Configuration and parameters</h4>
  </div>
</div>
<div class="row">
  <div class="small-4 columns config-box">
    <div class="row">
      <div class="small-6 columns">
        <input type="text" name="ehrscapeUsername" ng-model="ehrscapeConfig.username" value="{{ehrscapeConfig.username}}" placeholder="Username"/>
      </div>
      <div class="small-6 columns">
        <input type="text" name="ehrscapePassword" ng-model="ehrscapeConfig.password" value="{{ehrscapeConfig.password}}" placeholder="Password"/>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <input type="text" disabled="true" name="ehrscapeBaseUrl" ng-model="ehrscapeConfig.baseUrl" value="{{ehrscapeConfig.baseUrl}}"/>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <input type="text" disabled="true" name="ehrscapeSessionId" ng-model="ehrscapeConfig.sessionId" value="{{ehrscapeConfig.sessionId}}" placeholder="Session ID"/>
      </div>
    </div>
    <div class="row">
      <div class="small-6 columns">
        <input type="text" disabled="true" name="ehrscapeSubjectNamespace" ng-model="ehrscapeConfig.subjectNamespace" value="{{ehrscapeConfig.subjectNamespace}}" placeholder="Subject namespace"/>
      </div>
      <div class="small-6 columns">
        <input type="text" disabled="true" name="ehrscapeSubjectId" ng-model="ehrscapeConfig.subjectId" value="{{ehrscapeConfig.subjectId}}" placeholder="Subject ID"/>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <!-- <a download="content.txt" ng-href="{{ url }}">download</a> -->
    <pre>
      {{markdown}}
# Code4Health Ehrscape Domain provisioning

Ehrscape Explorer: http://dev.ehrscape.com/explorer
Ehrscape API: http://dev.ehrscape.com/explorer

## Across Healthcare Ehrscape subdomain **

login: {{ehrscapeConfig.username}}
password: {{ehrscapeConfig.password}}

### Ehrscape Demographics Dummy patient

Name: {{fullName}}
NHS Number: 7430555

subjectID: {{ehrscapeConfig.subjectId}}
subjectNamespace: {{ehrscapeConfig.subjectNamespace}}

ehrId: {{ehrscapeConfig.ehrId}}

### Ehr data

TemplateId: Across - Visual Acuity Report
compositionId: 49f085f8-fa4f-4d5c-a2f2-f62a1f0af4ab::across.c4h.ehrscape.com::1
    </pre>
  </div>
</div>