<div class="small-12 columns">
  <div class="row">
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div class="request-header alert-box" ng-class="actionItem.getStatusClass()">
        <div class="row">
          <div class="small-2 columns">
            <strong>{{actionItem.name}}</strong>
          </div>
          <div class="small-9 columns">
            {{actionItem.getFullUrl()}}
          </div>
          <div class="small-1 columns text-right">
            <strong>{{actionItem.requestMethod}}</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" ng-show="actionItem.showResults()">
    <div class="small-6 columns">
      <div class="request-summary panel">
        <div class="row request-title">
          <div class="small-6 columns">
            <strong>Request</strong>
          </div>
          <div class="small-6 columns text-right">
            Time taken: <span class="time-taken">{{actionItem.getTimeTaken()}}ms</span>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <pre class="request-body">{{actionItem.getFormattedRequestBody()}}</pre>
          </div>
        </div>
      </div>
    </div>
    <div class="small-6 columns">
      <div class="response-summary panel">
        <div class="row response-title">
          <div class="small-6 columns">
            <strong>Response</strong>
          </div>
          <div class="small-6 columns text-right">
            Status code: <span class="status-code">{{actionItem.responseCode}}</span>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <pre class="response-body">{{actionItem.responseBody}}</pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
